body {
  background-color: #1E293B;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.business-card {
  background-color: #ffff; 
  max-width: 350px;
  width: 90%;
  padding: 25px;
  text-align: center;
  font-size: 16px;
  border-radius: 20px; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
  margin-bottom: 15px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: #0284c7;
  margin: 0 5px;
}
a {
    text-decoration: none;
    color: #0284c7;
    margin: 0 5px;
    transition: 0.5s ease; 
}

a:hover {
    color: #015682;
    transform: scale(2.05); 
}